/* 
 * 
 * $Buttons
 *
**/

.calc__button {
    clear:both;
    display:block;
    padding:$ms-4 $ms0;
    width:220px;    
    margin:$ms0 auto 0;
    @include type-small;
    color:$brand1;
    font-weight:$fw-normal;
    line-height:$ms0;
    text-align:center;
    text-decoration:none;
    background-color:$brand4;
    cursor:pointer;
    outline:0;
    border:0;
    @include border-radius($curve);

    &:active,
    &:focus {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    } 

    @include breakpoint(bp2){
        float:right;
        padding:$ms-5 $ms-1;
    }
    @include breakpoint(bp2){
        width:180px;    
        margin-top:0;

        &:hover {
            text-decoration:none;
            color:$brand1;
            background-color:$brand3;
            border-color:$brand3;
        }
    }
}