/* 
 * 
 * $Icons
 *
**/

.icon {
    display:inline-block;

    &:before {
        display:block;
        content: '';
    }
}


.icon--reset {
    @include sprite(reset);
    height:19px;
    width:20px;

    @include breakpoint(bp2){
        height:20px;
        width:21px;
    }
}

.icon--info {
    @include sprite(info);
}

.icon--x {
    @include sprite(x);
}