/*
 * $Svgsprite
 *
 * Auto create a sprite for svgs using gulp.
 */

$icons: (
      sprite: (width: 49px, height: 48px, pngPath: '../images/pngs/sprite.png', svgPath: '../images/svgs/sprite.svg'),
     info: (width: 20.67px, height: 20.67px, backgroundX: 0px, backgroundY: 0px),
     reset: (width: 19.06px, height: 18.69px, backgroundX: -21px, backgroundY: -21px),
     x: (width: 7.73px, height: 7.73px, backgroundX: -41px, backgroundY: -40px),
)