/*
 *
 * $Typography - Base font styles
 *
**/

/*Check _base.scss for base font sizes and modular scale variables*/

/*Base font styles*/
$base-line-height: $ms1;
$base-font-weight: $fw-normal;
$base-font-color: $brand2;
$base-font-alignment: left;

@mixin font-body { font-family: museo-sans, "Helvetica Neue", "Arial", sans-serif; }

/* Common Text Sizes */
@mixin type-xsmall { font-size:$ms-2; }
@mixin type-small { font-size:$ms-1; }
@mixin type-medium { font-size:$ms0; }
@mixin type-large { font-size:$ms1; }
@mixin type-xlarge { font-size:$ms2; }
@mixin type-giga { font-size:$ms3; }
@mixin type-mega { font-size:$ms4; }


/* ==================
 * Apply text styles
 * ==================*/

.calc-section {
    @include font-body;
    font-size:$base-font-size--narrow * 1px;
    line-height:$base-line-height;
    font-weight:$base-font-weight;
    color:$base-font-color;
    text-align:$base-font-alignment;
    word-wrap:break-word;
    -webkit-font-smoothing:antialiased;

    @include breakpoint(bp1) {
        font-size:$base-font-size--wide * 1px; 
    }
   
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include font-body;
        padding:0;
        line-height:$ms0;
    }
}