<!doctype html>
<html>
    <head>
        {% block head %}{% endblock %}
        {% include "partials/head.njk" %}
    </head>

    <body>
        {% include "partials/calculator.njk" %}
        {% include "partials/scripts.njk" %}
    </body>
</html>