<meta charset="utf-8">
<title>BrightPay Calculator</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/all.css" />
<link rel="stylesheet" href="https://use.typekit.net/dbb8ygx.css">