/* 
 * 
 * $Base - Wrappers, Containers
 *
**/

.calc-wrapper {
	float:left;
	width:100%;
}


.calc-section {
	float:left;
	width:100%;
	padding:$ms4 0;
	background-color:#222;
}
.calc-section--bg {
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-image:url(#{$base-image-url}/backgrounds/calculator-background.jpg);

	@include breakpoint(bp5){
		padding:$ms8 0;
	}
}
.calc-section--white { background-color:$brand1; }


/*Container*/
$container-max: $wrapper * 1px;

.calc-container {
	float:none;
	width:auto;
	clear:both;
	display:block;
	max-width:$container-max;
	margin:0 auto;
	padding:0 $ms0;
	@include clearfix();
}


.calc__footer {
	float:left;
	width:100%;
}