/* 
 * 
 * $Calculator
 *
**/

.calc {
    display:block;
    width:100%;
}


.calc__title {
    display:block;
    margin:0 auto $ms0;
    max-width:700px;
    color:$brand3;  
    @include type-large;
    font-weight:$fw-light;
    text-align:center;

    @include breakpoint(bp2){
        margin:0 0 $ms0;
        max-width:610px;
        @include type-xlarge;
        text-align:left;
    }
}


.calc__item {
    position:relative;
    float:left;
    width:100%;
    padding:$ms-4 0;
    text-align:center;

    &:first-of-type { 
        border-top:0; 
    }

    @include breakpoint(bp2){
        text-align:left;
        border-top:1px solid #4A565E;
    }
}
.calc__item--result {
    border-top:0;

    @include breakpoint(bp2){
        border-top:1px solid $brand5;
    }
}
.calc__item--block {
    @include breakpoint(bp2){
        border-top:1px solid $brand7;
    }
}
.calc__item--saving {
    margin-top:$ms-4;
    margin-bottom:$ms-4;
    padding:$ms-5;
    border-top:0;
    background-color:$brand3;

    @include breakpoint(bp2){
        margin-top:$ms-6;
        padding:$ms-5 $ms-2;
        margin-bottom:$ms-3;
    }
}


.calc__label {
    display:block;
    padding:0;
    margin:0 0 $ms-4;
    @include type-small;
    color:$brand2;
    font-weight:$fw-normal;
    text-align:center;

    @include breakpoint(bp2){
        float:left;
        margin-bottom:0;
        line-height:$ms2;
    }
}
.calc__label--light { color:$brand1; }
.calc__label--saving { 
    margin-bottom:0; 
    font-weight:$fw-bold;

    @include breakpoint(bp2){
        @include type-medium;
        line-height:$ms2;
    }
}


.calc__label__note {
    clear: both;
    display:block;
    text-align:left;
    line-height:$ms1;
    @include type-xsmall;
}


.calc__input, 
.calc__result-val {
    display: block;
    width:220px;    
    padding:$ms-8 $ms-4;
    margin:0;
    @include type-medium;
    font-weight:$fw-normal;
    line-height:$ms1;
    @include border-radius($curve);
    margin:0 auto;
    
    @include breakpoint(bp2){
        float:right;
        width:180px;    
        padding:$ms-8 - .1em $ms-6;
    }
}

// Remove counter
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.calc__input {
    color:$brand1;
    text-align:center;
    background-color:transparent;
    border:1px solid $brand4;
}
.calc__input-container {
    position:relative;
    display:inline-block;

    @include breakpoint(bp2){
        float:right;
    }

    &:before {
        position: absolute;
        top:$ms-5;
        left:$ms-6;
        content:'€';
        display:block;
        color:$brand1;
        @include type-medium;

        @include breakpoint(bp2){
            top:$ms-6 + .025em;
        }
    }
}


.calc__result-title {
    margin:0;
    margin-bottom:$ms-8;
    color:$brand2;  
    font-weight:$fw-normal;
    @include type-xlarge;
    text-align:center;        
    
    @include breakpoint(bp2){
        text-align:left;        
    }
}
.calc__result-title--light {
    color:$brand3;
}


.calc__result-val {
    position:relative;
    color:$brand2;
    line-height:$ms1;
    text-align:center;
    background-color:$brand5;

    @include breakpoint(bp2){
        text-align:left;
    }
}
.calc__result-val--dark { 
    color:$brand1; 
    background-color:$brand6;
}
.calc__result-val--saving {
    padding:0;
    font-weight:$fw-bold;
    line-height:$ms2;
    background-color:transparent;

    @include breakpoint(bp2){
        padding-left:$ms-1;
    }
}


.calc__tooltip {
    position: absolute;
    display:block;
    top:$ms-6;
    right:$ms-6;
    width:25px;
    height:25px;
    cursor:pointer;

    @include breakpoint(bp2){
        top:$ms-7;
    }    
    
    .icon--info { font-size:18px; }
}


.calc__vat {
    display:block;
    width:100%;
    margin:0 0 $ms-2;
    padding:0;
    color:$brand1;
    @include type-xsmall;
    text-align:center;

    @include breakpoint(bp1){
        display:inline-block;
        width:auto;
        margin-bottom: 0;
    }
}


.calc__reset {
    clear:both;
    display:block;
    margin-bottom:0;
    color:$brand1;
    cursor:pointer;
    text-align:center;

    @include breakpoint(bp1){
        float:right;
        text-align:right;
    }

    span { 
        position: relative;
        top:-$ms-7;
        margin-right:$ms-5;

        @include breakpoint(bp1){
            top:-$ms-8 + .05em;
        }
    }
}


.calc__block {
    float:left;
    width:100%;
    margin-top:$ms0;
    padding:$ms0;
    background-color:$brand2;
    @include border-radius($curve*2);

    @include breakpoint(bp2){
        padding-bottom:$ms-3;
    }
}


// Errors
.calc__error {
    clear:both;
    display:block;
    margin-top:$ms-8;
    margin-bottom:0;
    color:$error; 
    @include type-xsmall;
    text-align:center;

    @include breakpoint(bp2){
        float:right;
        text-align:left;
    }
}