/* 
 * 
 * $Tooltip
 *
**/

.tooltip {
    position: absolute;
    bottom:-110%;
    left:50%;
    transform:translateX(-50%);
    width:100%;
    padding:$ms-2 $ms-2 $ms3;
    max-width:600px;
    background-color:$brand2;
    @include border-radius($curve);
    z-index:1;

    p {
        padding:0;
        margin:0;
        @include type-xsmall;
        color:$brand1;
        line-height:$ms0;
    }

    &:after {
        position: absolute;
        top:-14px;
        left:50%;
        margin-left:-10px;
        display:block;
        content:'';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 12.5px 15px 12.5px;
        border-color: transparent transparent $brand2 transparent;

        @include breakpoint(bp2) {
            top:-18px;
            border-width: 0 20px 15px 15px;        
            border-color: transparent $brand2 transparent transparent;            
        }
    }

    @include breakpoint(bp2) {
        bottom:auto;
        top:-125%;
        left:auto;
        right:0;
        padding:$ms-4 $ms0 $ms-4 $ms-4;
        transform:none;

        &:after {
            top:auto;
            bottom:-35px;
            left:auto;
            right:$ms-5;
            margin-left:0;
            border-width: 15px 14px 22px 14px;        
            border-color: $brand2 transparent transparent transparent;        
        }
    }
}


.tooltip__close {
    position: absolute;
    bottom:$ms-5;
    right:$ms-5;
    width:30px;
    height:30px;
    padding:5px 10px;
    @include border-radius(100%);
    background-color:$brand4;
    cursor:pointer;

    .icon--x {
        font-size:26px;
    }

    @include breakpoint(bp2) {
        bottom:0;
        top:$ms-6;
    }
}