/* 
 * 
 * $Colours
 *
**/

/*================*
 * Define colours
 *================*/

/* Whites */
$white: #fff;

// Greys
$grey-mute: #D2D6D8;

/*Blues*/
$bright-blue: #1DACEA;
$whale: #203B4F;
$submarine: #203B4F;
$navy-blue: #03101E;

// Yellow
$gold: #f29f05;

// Brown
$wood: #814A19;

/*================*
 * Brand Colours
 *================*/
$brand1: $white;
$brand2: $navy-blue;
$brand3: $gold;
$brand4: $bright-blue;
$brand5: $grey-mute;
$brand6: $whale;
$brand7: $submarine;

$error: #dd0000;