/* 
 * 
 * $Mixins
 *
**/

/*Breakpoints*/
 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: $bp4) { @content ; }
  }
  @else if $point == bp5 {
    @media (min-width: $bp5) { @content ; }
 }  
  @else if $point == bp4 {
    @media (min-width: $bp4) { @content ; }
 }
  @else if $point == bp3 {
     @media (min-width: $bp3) { @content ; }
  }
    @else if $point == bp2 {
     @media (min-width: $bp2) { @content ; }
  }
   @else if $point == bp1 {
     @media (min-width: $bp1)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }
  }
}


/*Clearfix*/
@mixin clearfix() {
    zoom: 1;
    &:after {
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
        content: "";
    }
}

/*Border Radius*/
@mixin border-radius($radius: 6px) {
    -webkit-border-radius:   $radius;
    -moz-border-radius:      $radius;
    border-radius:           $radius;
    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}