/* 
 * 
 * $Reset
 *
**/

.calc-section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    *, *:before, *:after {
        box-sizing: inherit;
    }

    /*Image Border removal*/
    img, a img { border:none; }
}

// Disable iOS/WinMobile font size changes
@media screen and (max-width: 600px),
screen and (max-device-width: 480px) {
    .calc-section {
        -ms-text-size-adjust: none;
        -webkit-text-size-adjust: none;
    }
}